body {
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
    background-color: black;
    color: #fff;
    height: 5em;
    line-height: 5em;
    padding-top: 1em;
    margin-bottom: 2%;
}

.main {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}


#start, #another-word {
    background-color: black;
    text-align: center;
    color: white;
    width: 15%;
    height: 3em;
    line-height: 3em;
    font-size: small;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#another-word {
    width: 33%;
    margin-bottom: 2%;
    margin-top: 1%;
    height: 2em;
    line-height: 2em;
}

a.middle {
    color: white;
    text-decoration: none;
    position: relative;
}

a.middle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  a.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }



#question {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#word-container {
    margin-bottom: 4%;
}

 
h3, h5, p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#board {
    margin-right: auto;
    margin-left: auto;
}

.alphabet {
    display: flex;
    align-content: center;
    justify-content: center;
}

.block {
    text-align: center;
    border: 2px solid black;
    height: 70px;
    width: 70px;
    font-family: "Volkhok", serif;
    font-size: 50px;
}

.block:hover {
    opacity: 0.6;
}

#wrong-letters-text {
    letter-spacing: 0.5em;
    margin-top: 0;
    margin-bottom: 3%;
}


.letter {
    display: inline-block;
    text-align: center;
    width: 30px;
    margin-left: 0.2em;
    margin-right: 0.2em;
    height: 40px;
    padding-top: 25px;
    padding-bottom: 0;
    vertical-align: bottom;  
    font-size: 1.7em;
}

.clicked {
    background-color: black;
}

.modal-body {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {

    .letter {
        width: 20px;
        height: 30px;
    }
    
    #remaining-tries {
        margin-top: 8%;
    }
}

@media screen and (max-width: 640px) {
    
    .letter {
        width: 8px;
        margin-right: 0.7em;
        font-size: 1.2em;
    }

    #remaining-tries {
        margin-top: 8%;
    }
}